<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header><h1>Weather Results</h1></header>
    <p>Location: <%= weatherData.name %></p>
    <p>Temperature: <%= weatherData.main.temp %></p>
    <p>Description: <%= weatherData.weather[0].description %></p>
    <p><a href="/weather">Go Back Home</a></p>
</body>
</html>