<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Checker</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Weather Checker</h1>
    <form action="/weather" method="POST">
        <div id="weather-form">
          <label for="zip-code">Enter Postal Code</label>
          <input type="text" id="zip-code" name="zip-code" required>
          
          <label for="country">Enter Country</label>
          <input list="country-list" id="country" name="country" />

          <datalist id="country-list">
            <% countriesObject.forEach((country) => { %>
              <option value="<%= country.countryNameEn %>"></option>
            <% }) %>
          </datalist>

          <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>